.selectBridge-form {
  /* z-index: 200 !important; */
  cursor: pointer;
  width: 100% !important;
  height: 50px !important;
  background: #1e2c37 !important;
  border-radius: 5px !important;
  position: relative;
}

.selectBridge-form .selected {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.selected-bridge-form {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 3px;
}

.chain-bridge-form {
  width: 100% !important;
  height: 100%;
  display: flex;
  /* justify-content: space-between;
  align-items: center; */
  padding-left: 5px !important;
  padding-right: 10px;
}

.chain-bridge-form .chain_bridge {
  margin-bottom: 10px;
  width: 100% !important;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

.chain-bridge-form .chain_bridge div span {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  margin-left: 7px;
  transform: translateY(10px) !important;
  /* margin-top: 17px !important; */
}
.chain-bridge-form .chain_bridge div {
  display: flex;
  align-items: center !important;
}

.arrow_bridge img {
  margin-top: 5px !important;
}

.chain-bridge-form .chain .icon {
  margin-right: 5px;
}

.chain-bridge-form .chain .text {
  margin-left: 5px;
}

.coin-form_bridge {
  width: 100%;
  height: 100%;
  display: flex;
  /* justify-content: end !important; */
  align-items: center;
}
.coin-form_bridge img {
  margin-left: 8px;
  /* margin-left: 98px; */
  /* padding-right: 10px; */
}
.coin-form_bridge p {
  margin-left: 8px;
  font-size: 13px;
  /* margin-left: 10px; */
}
.coin-form_bridge span {
  margin-top: 0px;
}

.icon {
  width: 30px;
  height: 30px;
  border-radius: 100%;
}

.text {
  font-weight: 600;
}

.selected-bridge-form .coin-form_bridge {
  background: gray;
  border-radius: 25px;
}
.selectBridge-form ul {
  transform: translate(-40px, -15px);
  z-index: 900 !important;
  position: absolute;
  left: 0px;
  top: 56px !important;
  width: 100%;
}

.selectBridge-form ul li {
  cursor: pointer;
  width: 100%;
  height: 50px !important;
  z-index: 900 !important;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  background: #314859 !important;
  display: flex;
}

.selectBridge-form ul li:nth-child(2n) {
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  background: #426077 !important;
}

.selectBridge-form ul li:last-child {
  border-bottom-left-radius: 7px !important;
  border-bottom-right-radius: 7px !important;
}
